
body {
    font-family:"Inter", sans-serif;
    margin: 0;
    position: relative;
}

.header-name {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

header {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: sticky;
    top:0;
    background-color: #F24C4C;
    background-image: linear-gradient(to right, #f77883, #66b5ff);
    color: white;
    z-index: 2;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    margin-right: 10px;
}
h1 {
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}
.upper-right-btns {
    display: flex;
    align-items: center;

}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.logout img {
    width: 25px;
}
.logout:hover {
    background-color: #529de5;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

footer {
    padding: 5px;
    text-align: center;
    font-size: smaller;
    font-weight: bolder;
    background-color: #fff;
}

@media  only screen and (max-width: 600px) {
    .logo {
        width: 40px;
        height: 40px;
        border-radius: 5px 5px 0px 0px;
        margin-right: 5px;
    }

    header {
        padding: 0 5px;
    }
}
